name: Deploy to Github Pages
on:
  push:
    branches:
      - main

env:
  TZ: Asia/Shanghai # 指定容器当前时区

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # 默认为1，表示只拉去最新commit信息，会导致当前文件显示的创建时间、更新时间都为commit的时间
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install \
             mkdocs-material \
             mkdocs-glightbox \
             mkdocs-git-revision-date-localized-plugin
      - run: mkdocs gh-deploy --force

      - name: Wait for GitHub Pages propagation
        run: sleep 10

      - name: Refresh Tencent Cloud CDN
        uses: linrongda/tencent-cdn-action@v1
        with:
          secret_id: ${{ secrets.QCLOUD_SECRET_ID }}
          secret_key: ${{ secrets.QCLOUD_SECRET_KEY }}
          action: purgePath
          paths: '["http://run.w2fzu.com/","http://run.west2.online/"]'
